*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eef9ff;
}

/* Navbar */

.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.logo{

    font-size:28px;
    font-weight:bold;
    color:#0099ff;

}

.logo span{

    color:#004f8c;

}

.nav-links{

    list-style:none;
    display:flex;
    gap:30px;

}

.nav-links a{

    text-decoration:none;
    color:#333;
    font-weight:600;
    transition:.3s;

}

.nav-links a:hover{

    color:#0099ff;

}

/* Welcome */

.welcome{

    text-align:center;
    padding:50px 20px;

}

.welcome h1{

    color:#0099ff;
    margin-bottom:10px;

}

.welcome p{

    color:#555;

}

/* Cards */

.cards{

    width:85%;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;

}

.card{

    background:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 10px 20px rgba(0,153,255,.12);

}

.card h2{

    color:#0099ff;
    margin-bottom:15px;

}

.card p{

    font-size:35px;
    font-weight:bold;
    color:#333;

}

/* Table */

.table-section{

    width:85%;
    margin:50px auto;

}

.table-section h2{

    margin-bottom:20px;
    color:#0099ff;

}

table{

    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 10px 20px rgba(0,153,255,.12);

}

th{

    background:#00aaff;
    color:white;
    padding:15px;

}

td{

    padding:15px;
    text-align:center;
    border-bottom:1px solid #ddd;

}

tr:hover{

    background:#f3fbff;

}

/* Responsive */

@media(max-width:768px){

.navbar{

    flex-direction:column;
    gap:20px;

}

.nav-links{

    flex-wrap:wrap;
    justify-content:center;
    gap:15px;

}

.cards{

    width:95%;

}

.table-section{

    width:95%;
    overflow-x:auto;

}

table{

    min-width:700px;

}

.btn-danger {
    background: #f8d7da;
    color: #721c24;
}


}